body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: darkgray;
}



.navbar-expand-lg .navbar-collapse {
  margin-left: 5%;
  flex-basis: auto;
  justify-content: flex-end;}

  /*Banniere*/
  .headerBanniere 
  {background-image: url(/public/img/hero-workin-0008.jpg);
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
  background-position: center;
  padding: 150px 150px;}

  .headerBanniereAdmin
  {background-image: url(/public/img/Coworking.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    background-position: center;
    padding: 150px 150px;}